#map {
	width:  640px;
	height: 480px;
}
@media screen and (max-width: 480px) {
	#map {
		width:  400px;
		height: 300px;
		min-width: 320px;
		max-width: 480px;
	}
}
.leaflet-control-zoomslider a:hover{
	color:black!important ;
	text-shadow: black 0px 0px!important;
}
